<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kelab.usercenter.dal.dao.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.kelab.usercenter.dal.model.UserInfoModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="school" property="school" jdbcType="VARCHAR"/>
        <result column="institution" property="institution" jdbcType="VARCHAR"/>
        <result column="student_id" property="studentId" jdbcType="VARCHAR"/>
        <result column="student_class" property="studentClass" jdbcType="VARCHAR"/>
        <result column="qq" property="qq" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="sign" property="sign" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `username`, `email`, `password`, `real_name`, `school`, `institution`,
        `student_id`, `student_class`, `qq`, `avatar`, `sign`, `phone_number`, `role_id`
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into `User_info` (`id`, `username`, `email`,
                                 `password`, `real_name`, `school`, `institution`,
                                 `student_id`, `student_class`, `qq`,
                                 `avatar`, `sign`, `phone_number`, `role_id`)
        values (#{record.id,jdbcType=INTEGER}, #{record.username,jdbcType=VARCHAR}, #{record.email,jdbcType=VARCHAR},
                #{record.password,jdbcType=VARCHAR}, #{record.realName,jdbcType=VARCHAR}, #{record.school,jdbcType=VARCHAR},
                #{record.institution,jdbcType=VARCHAR}, #{record.studentId,jdbcType=VARCHAR}, #{record.studentClass,jdbcType=VARCHAR},
                #{record.qq,jdbcType=VARCHAR}, #{record.avatar,jdbcType=VARCHAR}, #{record.sign,jdbcType=VARCHAR},
                #{record.phoneNumber,jdbcType=VARCHAR}, #{record.roleId,jdbcType=INTEGER})
    </insert>


    <select id="queryById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from `User_info`
        where `id` = #{id,jdbcType=INTEGER}
    </select>

    <select id="queryByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from `User_info`
        where `username` = #{username,jdbcType=INTEGER}
    </select>

    <select id="queryByStudentId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from `User_info`
        where `username` = #{studentId,jdbcType=INTEGER}
    </select>

    <select id="queryTotal" resultType="java.lang.Integer">
        select count(*)
        from `User_info`
    </select>


</mapper>