<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kelab.usercenter.dal.dao.UserRankMapper">
    <resultMap id="BaseResultMap" type="com.kelab.usercenter.dal.model.UserRankModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="ac_num" property="acNum" jdbcType="INTEGER"/>
        <result column="submit_num" property="submitNum" jdbcType="INTEGER"/>
        <result column="time_type" property="timeType" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`, `user_id`, `ac_num`, `submit_num`, `time_type`
    </sql>

    <sql id="limit_sql">limit ${(pageQuery.page - 1) * pageQuery.rows}, ${pageQuery.rows}</sql>

    <select id="queryPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `User_rank`
        where time_type = #{timeType,jdbcType=INTEGER}
        order by `ac_num` DESC ,`submit_num` ASC
        <include refid="limit_sql"/>
    </select>

    <select id="total" resultType="java.lang.Integer">
        select count(*) from `User_rank` where `time_type` = #{timeType,jdbcType=INTEGER}
    </select>

    <resultMap id="AcSubmitResultMap" type="com.kelab.usercenter.result.AcSubmitResult">
        <result column="ac" property="ac" jdbcType="INTEGER"/>
        <result column="submit" property="submit" jdbcType="INTEGER"/>
    </resultMap>
    <select id="queryCount" resultMap="AcSubmitResultMap">
        select
        sum(`ac_num`) as `ac`, sum(`submit_num`) as `submit`
        from `User_rank`
        where `time_type` = #{timeType,jdbcType=INTEGER}
    </select>

    <select id="queryByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `User_rank`
        where `user_id` = #{userId}
    </select>

    <update id="update">
        update `User_rank`
        set `submit_num` = `submit_num` + 1
        <if test="ac == true">
            `ac_num` = `ac_num` + 1
        </if>
        where `user_id` = #{userId}
    </update>

    <insert id="initUserRank">
        insert into `User_rank`
        (`user_id`, `ac_num`, `submit_num`, `time_type`)
        values
        <foreach collection="types" item="item" separator=",">
            (#{userId}, 0, 0, #{item})
        </foreach>
    </insert>

    <delete id="delete">
        delete from `User_rank` where `time_type` = #{timeType,jdbcType=INTEGER}
    </delete>
</mapper>