<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kelab.usercenter.dal.dao.UserSubmitInfoMapper">

    <resultMap id="BaseResultMap" type="com.kelab.usercenter.dal.model.UserSubmitInfoModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="ac_num" property="acNum" jdbcType="INTEGER"/>
        <result column="submit_num" property="submitNum" jdbcType="INTEGER"/>
        <result column="rank" property="rank" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `user_id`, `ac_num`, `submit_num`
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into `User_submit_info` (`user_id`, `ac_num`, `submit_num`)
        values (#{record.userId,jdbcType=INTEGER}, #{record.acNum,jdbcType=INTEGER},
                #{record.submitNum,jdbcType=INTEGER})
    </insert>


    <update id="updateByUserId" parameterType="com.kelab.usercenter.dal.model.UserSubmitInfoModel">
        update `User_submit_info`
        set `submit_num` = `submit_num` + 1
        <if test="ac == true">
            , `ac_num` = `ac_num` + 1
        </if>
        where `user_id` = #{record.userId, jdbcType=INTEGER}
    </update>


    <select id="queryByUserIds" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>,
        (
        select count(*) + 1 from `User_submit_info` `usi2`
        where `usi2`.`ac_num` &gt; `usi1`.`ac_num` or (`usi2`.`ac_num` = `usi1`.`ac_num` and `usi2`.`submit_num` &lt;
        `usi1`.`submit_num`)
        ) as `rank`
        from `User_submit_info` `usi1`
        where `usi1`.`user_id` in
        <foreach collection="userIds" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>

    <delete id="delete">
        delete from `User_submit_info`
        where `user_id` in
        <foreach collection="userIds" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>


</mapper>